<h1>Redefine: <%= @definition.word.name %></h1>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
<input name="_method" type="hidden" value="patch">
<h3>
<label for="update_definition">Edit: <%= @definition.name %></label>
<br>
  <input name="update_definition" type="text">
</h3>
  <button type="submit" style="color: red;">Save Changes</button>
</form>

<form action= "/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">DELETE DEFINITION</button>
</form>
<a href="/words">return</a>
