
<h1> <%= @word.name %></h1>

<% if @definitions.any? %>
    <% @definitions.each do |definition| %>
    <li> <%= definition.name %> <a href="/words/<%= @word.id %>/definitions/<%= definition.id %>" class = "links"> ✏️ </a></li>
<% end %>
<% else %>
  <p> Please add your definitions below...</p>
<% end %>

<form class="" action="/words/<%= @word.id %> /definitions" method="post">
  <label for="new_definition">Add a Definition to <%= @word.name %> :</label>
  <input type="text" name="new_definition" value="">
  <button type="submit" name="button">ADD</button>
</form>
